.about-me {
	background-image: url('./about.jpg');
	background-size: cover;
	color: white;
	display: grid;
	height: 650px;
	grid-template-rows: 20% 1fr;
	grid-template-columns: 75% 1fr;
	grid-template-areas:
		'h2 .'
		'first . '
		'second . '
		'third . ';
}

.about-me ul {
	list-style-type: none;
	margin: 0;
	padding: 50px;
	overflow: hidden;
	float: left;
	grid-area: first;
	display: flex;
	flex-direction: column;
}

.about-me ul li {
	float: left;
}

h2 {
	grid-area: h2;
	margin: auto;
}
