* {
	box-sizing: border-box;
}

.navbar {
	background-color: rgb(116, 135, 230, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-top: white solid 1px;
	border-bottom: white solid 2px;
}

a {
	color: rgb(245, 245, 245);
	margin-right: 30px;
	margin-left: 30px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
}
