.Portfolio {
	text-align: center;
	background: #fff;
	padding: 30px;
	position: relative;
}

.Portfolio-header {
	height: auto;
	padding: 20px;
}

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 30px;
}

.Portfolio-title {
	font-size: 1.5em;
}

.Portfolio-intro {
	font-size: large;
}
