.portfolio {
	background-image: url('./portfolio.jpg');
	background-size: cover;
	height: 1000px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'one one one' 'two two two' 'three three three';
	color: white;
}

.project-1 {
	grid-area: one;
	padding: 50px;
}

.project-2 {
	grid-area: two;
	padding: 50px;
}

.project-3 {
	grid-area: three;
	padding: 50px;
}

.portfolio h3 {
	padding: 10px;
	margin: auto;
	text-align: center;
	font-size: 16px;
}

.portfolio p {
	padding: 3px;
}

img {
	width: 60%;
	float: right;
}

.portfolio a {
	color: white;
	text-decoration-line: underline;
}
