.Projects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: rgb(1, 10, 53);
	color: white;
	height: 500px;
}

img {
	height: 100%;
}
.deck-app {
	color: white;
	height: 300px;
	width: auto;
}

.mtg-app {
	color: white;
	height: 300px;
	width: auto;
	padding: 20px;
	border: gray 3px;
	border-style: inset;
	margin: 20px;
}

.kanben-app {
	color: white;
	height: 150px;
	width: 500px;
	padding: 20px;
	border: gray 3px;
	border-style: inset;
	margin: 20px;
}
