.Projects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(#fff, rgb(241, 241, 241));
	height: auto;
	border-top: solid 1px gray;
}

img {
	max-width: 300px;
	padding: 10px;
}

.deck-app {
	height: auto;
	width: auto;
}

.bookmarks {
	height: auto;
	width: auto;
}

.kanben-app {
	height: 150px;
	width: 500px;
	padding: 20px;
	border: gray 3px;
	border-style: inset;
	margin: 20px;
}
